<div class="search-form mt-4">
    <form method="POST">
        <div class="mb-3">
            <label for="search-input" class="form-label"> Nhap tu khoa</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nhap tu khoa tim kiem">
            <input type="text" name="name" class="form-control" placeholder="nhap ten">
        </div>
        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>